<form #f="ngForm" (submit)="generateCampaign()">
  <a>Tipo de contenido:</a>
  <select [(ngModel)]="contentType" name="contentType" class="custom-select my-1 mr-sm-2" id="contentType">
    <option value="Comedy">Comedy</option>
    <option value="Videogames">Videogames</option>
    <option value="Fashion">Fashion</option>
    <option value="Kids">Kids</option>
    <option value="Travel">Travel</option>
    <option value="Vlog">Vlog</option>
    <option value="Sports">Sports</option>
    <option value="News">News</option>
    <option value="Dissemination">Dissemination</option>
  </select>

  <a>Origen de las visualizaciones:</a>
  <select [(ngModel)]="geographicZone" name="geographicZone" class="custom-select my-1 mr-sm-2" id="geographicZone">
    <option value="Spain">Spain</option>
    <option value="France">France</option>
    <option value="Andorra">Andorra</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="United States of America">United States of America</option>
    <option value="South America">South America</option>
    <option value="China">China</option>
    <option value="Japan">Japan</option>
  </select>

  <a>Rango de Edad:</a>
  <select [(ngModel)]="ageRange" name="ageRange" class="custom-select my-1 mr-sm-2" id="ageRange">
    <option value="5-10">5-10</option>
    <option value="10-12">10-12</option>
    <option value="12-15">12-15</option>
    <option value="15-18">15-18</option>
    <option value="18-22">18-22</option>
    <option value="22-30">22-30</option>
    <option value="30-50">30-50</option>
    <option value="50+">50+</option>
  </select>


  <a>Rango de Visitas:</a>
  <select [(ngModel)]="visitRange" name="visitRange" class="custom-select my-1 mr-sm-2" id="visitRange">
    <option value="0-1K">0-1K</option>
    <option value="1K-5K">1K-5K</option>
    <option value="5K-10K">5K-10K</option>
    <option value="10K-20K">10K-20K</option>
    <option value="20K-50K">20K-50K</option>
    <option value="50K-100K">50K-100K</option>
    <option value="100K-200K">100K-200K</option>
    <option value="200K-500K">200K-500K</option>
    <option value="500K-1M">500K-1M</option>
    <option value="1M+">1M+</option>
  </select>
  <div class="form-group">
    <label for="exampleFormControlTextarea1">Mensaje para la capaña de marketing</label>
    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
