<div class="card">
  <app-company-service-earnings></app-company-service-earnings>
  <div class="card-body">
    <h5 class="card-title text-center">Ingresos por servicios de la compañía</h5>
    <p class="card-text text-center">Ingresos por Cursos, Servicio de Edición de videos y Servicio de creación de miniaturas</p>
  </div>
</div>
<div class="card">
  <app-company-countries-visualization-graph></app-company-countries-visualization-graph>
  <div class="card-body">
    <h5 class="card-title text-center">Porcentaje de visitas internacional</h5>
    <p class="card-text text-center">La media del origen de las visitas de todos los youtubers</p>
  </div>
</div>
<div class="card">
  <app-company-top-youtubers-chart></app-company-top-youtubers-chart>
  <div class="card-body">
    <h5 class="card-title text-center">TOP 5 Youtubers de la Comapñía</h5>
    <p class="card-text text-center">2 gráficas separando a los 5 Youtubers que mas rentabilidad generan por un lado y a los 5 que mayor cantidad de visitas generan por otro</p>
  </div>
</div>
<div class="card">
  <app-company-monthly-income-chart></app-company-monthly-income-chart>
  <div class="card-body">
    <h5 class="card-title text-center">Ingresos brutos de la compañía a lo largo del año</h5>
    <p class="card-text text-center">Desglose por meses de los ingresos que ha obtenido la empresa, calculado a partir de un porcentaje de la monetización de los youtubers (No se cuentan Servicios para esta gráfica)</p>
  </div>
</div>
