<div class="container-fluid">
  <div class="row">
    <div class="card col-6">
      <app-youtuber-age-range-chart></app-youtuber-age-range-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Rango de edades de los viewers</h5>
        <p class="card-text text-center">Promedio de las edades de los espectadores en todos los videos subidos hasta la fecha</p>
      </div>
    </div>
    <div class="card col-6">
      <app-youtuber-countries-visualization-chart></app-youtuber-countries-visualization-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Porcentaje de visitas internacional</h5>
        <p class="card-text text-center">La media del origen de las visitas de todos los videos</p>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="card col-6">
      <app-youtuber-month-earnings></app-youtuber-month-earnings>
      <div class="card-body">
        <h5 class="card-title text-center">Monetización de los videos de un determinado mes del año</h5>
        <p class="card-text text-center">Gráfica que muestra la monetización de los todos los videos durante un mes seleccionado</p>
      </div>
    </div>
    <div class="card col-6">
      <app-youtuber-services-spendig-chart></app-youtuber-services-spendig-chart>
      <div class="card-body">
        <h5 class="card-title text-center">Gasto en servicios</h5>
        <p class="card-text text-center">Cantidad gastada en servicios de edición, miniaturas o cursos</p>
      </div>
    </div>
  </div>
</div>
